* {
    font-family: verdana;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        flex: 1;
    }
}